In [1]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

str_var = "hello"
l = [1,2,3,4,5]
f = 35.2
t = (1,2,3)

In [ ]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘  
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

In [ ]:
var1 = " "  = String
var2 = '[ DS , ML , Python]' = String
var3 = [ 'DS' , 'ML' , 'Python' ] = List
var4 = 1 = Int

In [ ]:
# Q3. Explain the use of the following operators using an example:
# (i) /  -- Division operator
# (ii) %  -- Mod operator
# (iii) //  -- Integer division
# (iv) ** -- power

In [12]:
12/2

6.0

In [13]:
12%2

0

In [14]:
12//2

6

In [15]:
12**2

144

In [19]:
# Q4. Create a list of length 10 of your choice containing multiple types of data.
# Using for loop print the element and its data type.

l = [1,2,'hello',True,22.5, 70,'','""','@',10.2]
for element in l:
    print(element , type(element))

1 <class 'int'>
2 <class 'int'>
hello <class 'str'>
True <class 'bool'>
22.5 <class 'float'>
70 <class 'int'>
 <class 'str'>
"" <class 'str'>
@ <class 'str'>
10.2 <class 'float'>

In [40]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

a = 120
b = 3
i = 1
while a%b==0:
    c = a//b
    a = c
    print(c," times divisible")
    i +=1

40  times divisible

In [41]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print 
# if the element is divisible by 3 or not.

l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3==0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [43]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both 
# showing  this property.


# mutable- we can modify elements
l = [12,13,15]
l[0] = 25  #modified first element
l

[25, 13, 15]

In [44]:
#  immutable - we cannot change elements
s = "amazon"
s[0] = "T"  #Unable to change , it throws error

TypeError: 'str' object does not support item assignment