In [10]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import warnings
warnings.filterwarnings("ignore")

In [ ]:
# Q1. What is data encoding? How is it useful in data science?
Data encoding is converting data from various formats to numerical, i.e Machine understandable.
Data Encoding in Data Science is useful:
    1. Handling Categorical Data - One hot encoding, label encoding are techniques to convert categorical
    data to numerical.This data then can be supplied as an input to machine learning model.
    2. Feature Engineering : New features can be created or existing features can be transformed.
    timestamps can be encoded to day of week or time.
    3. Encoding can also be used for normalizing and scaling numerical data to bring all features to a 
    similar range.

In [ ]:
# Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.
Nominal Encoding is used to convert categorical data into a numerical format. It is used where there is no inherent
order or ranking among the categories
Example of Nominal Encoding is One hot Encoding:
Each categorical variable is transformed into a binary vector. Each category is represented by a unique binary code, 
where only one bit (or column) is 'hot' (set to 1) while the others are 'cold' (set to 0). This ensures that there 
is no ordinal relationship assumed between the categories.

In [18]:


# Sample dataset
data = {
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Other'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'San Francisco', 'New York'],
}

# Create a DataFrame from the data
df = pd.DataFrame(data)

# Initialize the OneHotEncoder
encoder = OneHotEncoder(sparse=False)

# Fit and transform the categorical columns
encoded_cols = encoder.fit_transform(df[['Gender', 'City']])

# Create a DataFrame from the encoded columns
encoded_df = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out(['Gender', 'City']))

# Concatenate the encoded columns with the original DataFrame
df_encoded = pd.concat([df.drop(columns=['Gender', 'City']), encoded_df], axis=1)

# Display the one-hot encoded DataFrame
print(df_encoded)

   Gender_Female  Gender_Male  Gender_Other  City_Chicago  City_Los Angeles  \
0            0.0          1.0           0.0           0.0               0.0
1            1.0          0.0           0.0           0.0               1.0
2            0.0          1.0           0.0           1.0               0.0
3            1.0          0.0           0.0           0.0               0.0
4            0.0          0.0           1.0           0.0               0.0

   City_New York  City_San Francisco
0            1.0                 0.0
1            0.0                 0.0
2            0.0                 0.0
3            0.0                 1.0
4            1.0                 0.0

D:\Anaconda\Install\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
# Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.
1. when there is ordinal relationships, nominal encoding will preserve the rankings instead of one hot encoding.
ex. Education Level: School, High School, Graduate, Post Graduate. These clearly have oredre. They can be encoded
    as 1,2,3,4
    
2. When there are too many categories, one hot encoding will result in too many columns and sparse matrix. here,
nominal encoding will work best.
ex. Dataset with column as country names. One hot encoding will rseult in each column with a country name. This 
can be computationally expensive.

In [ ]:
# Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding
# technique would you use to transform this data into a format suitable for machine learning algorithms?
# Explain why you made this choice.
With 5 categories, I will prefer One hot encoding.
1. There will be assumption of order or ranking associated with it. 
2. All Information will be preserved. No DAta loss.

In [ ]:
# Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns
# are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to
# transform the categorical data, how many new columns would be created? Show your calculations.
If Nominal encoding is used to transform the data of 2 columns, no new columns will be created. Total 5 columns 
will be present in the dataset

In [3]:
data = {
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Other'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'San Francisco', 'New York'],
    'Age' : [28,27,31,29,37],
    'Number' : [12434,43554,28644,90884,85533],
    'Devices Count' : [1,3,1,2,2]
}

df = pd.DataFrame(data)
df

   Gender           City  Age  Number  Devices Count
0    Male       New York   28   12434              1
1  Female    Los Angeles   27   43554              3
2    Male        Chicago   31   28644              1
3  Female  San Francisco   29   90884              2
4   Other       New York   37   85533              2

In [11]:
l = LabelEncoder()
df['Gender'] = l.fit_transform(df[['Gender']])
df['City'] = l.fit_transform(df[['City']])

df 
# No New columns added.

   Gender  City  Age  Number  Devices Count
0       1     2   28   12434              1
1       0     1   27   43554              3
2       1     0   31   28644              1
3       0     3   29   90884              2
4       2     2   37   85533              2

In [ ]:
# Q6. You are working with a dataset containing information about different types of animals, including their
# species, habitat, and diet. Which encoding technique would you use to transform the categorical data into
# a format suitable for machine learning algorithms? Justify your answer.

I will use One hot Encoding. The only consideration would be there should be manageable categories in ecah column.
The Species, habitat and diet does not have any ranking associated with it. So Nominal Encoding would create 
unnecessary relations.

In [ ]:
# Q7.You are working on a project that involves predicting customer churn for a telecommunications
# company. You have a dataset with 5 features, including the customer's gender, age, contract type,
# monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical
# data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.
Categorical Data : gender, Contract type
First column, Gender: One hot encoding will be used as manageable columns will be created.
For contract type: Assuming the data is like: 1-year,2-year,4-year etc
    Label encoding will be used for this. The Ranking will be preserved.