In [ ]:
# Q1 What is a database? Differentiate between SQL and NoSQL databases.
Database is storing data.It allows us to retieve and maipulate data.They are used to store data
securely, have data integrity and availability.

SQL: Structured query language. These databases are based on relational model. The data is stored as rows and columns format.
ex. postgres, Mysql, oracle

NoSQL : Non relational database. Different types of data can be stored as they are schema less.
They are used in modern web applications and big data.
ex. Mongo DB(document based), redis(key-value based), neo4j(graph based)

In [ ]:
# Q2 What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
DDL stands for Data definition languauge. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, schemas, and constraints.

CREATE : Used to create new database object.
CREATE TABLE employees (
    id INT,
    name VARCHAR(50),
    age INT
);

DROP : Used to permannently delete database object.
DROP TABLE employees;

ALTER : Modify existing structure of columns in database
ALTER TABLE employees
ADD COLUMN salary DECIMAL(10, 2);

TRUNCATE :Used to remove all data from table but the structure intact.
TRUNCATE TABLE employees;

In [ ]:
# Q3 What is DML? Explain INSERT, UPDATE, and DELETE with an example.
DML stands for data manipulation languauge.It is used to retrieve, insert, update, and delete data within a database.

INSERT: Used to insert new rows or records into a table
INSERT INTO employees (name, age, salary) VALUES ('John Doe', 30, 50000);

UPDATE: Used to modify existing data within a table.
UPDATE employees SET salary = 55000 WHERE department = 'Sales';

DELETE:  It allows users to delete specific rows based on specified conditions. 
DELETE FROM employees WHERE age > 60;

In [ ]:
# Q4 What is DQL? Explain SELECT with an example.
DQL stands for Data Query Language.It is used specifically for querying and retrieving data from a database.

SELECT name FROM employees WHERE age > 30;

By using the SELECT statement, you can retrieve specific columns or all columns from one or more tables, apply various filtering conditions using operators like "=" or ">", join multiple tables, perform calculations on data, etc

In [ ]:
# Q5 Explain Primary Key and Foreign Key.
Primary Key:
A primary key is a column or a set of columns in a database table that uniquely identifies each record in that table. It serves as a unique identifier for the records and ensures the integrity and uniqueness of the data within the table.
Primary keys are automatically indexed by the database system, which improves query performance.

Foreign Key:
A foreign key is a column or a set of columns in a database table that establishes a link or a relationship between two tables. It represents a relationship between the data in two tables, where the foreign key in one table refers to the primary key in another table.
The foreign key ensures referential integrity by enforcing data consistency and integrity. It guarantees that the value in the foreign key column corresponds to an existing value in the primary key column of the referenced table.

In [ ]:
# Q6 Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector

# Establish the connection
cnx = mysql.connector.connect(
    user='your_username',
    password='your_password',
    host='localhost',
    database='your_database'
)

# Create a cursor object
cursor = cnx.cursor()

# Execute a SQL query
query = "SELECT * FROM your_table"
cursor.execute(query)

# Fetch the result
result = cursor.fetchall()

# Process the result
for row in result:
    print(row)

# Close the cursor and connection
cursor.close()
cnx.close()


cursor():
The cursor() method is used to create a cursor object from the MySQL connection. It allows you to execute SQL statements and retrieve the results.It is called on the database connection object (cnx.cursor()) and returns a new cursor object.

execute():
The execute() method is used to execute a SQL query or statement using the cursor object.It takes the SQL query as a parameter and performs the corresponding database operation.

In [ ]:
# Q7 Give the order of execution of SQL clauses in an SQL query.
SELECT: The SELECT clause is executed first to determine the columns to be retrieved from the database. It specifies the data that will be returned in the result set.

FROM: The FROM clause is executed after the SELECT clause. It specifies the table or tables from which the data will be retrieved. It defines the source of the data for the query.

WHERE: The WHERE clause is executed after the FROM clause. It filters the rows from the specified table(s) based on the given conditions. It allows you to retrieve only the rows that meet the specified criteria.

GROUP BY: If a GROUP BY clause is present in the query, it is executed after the WHERE clause. It groups the rows together based on one or more columns, allowing you to perform aggregate functions like SUM, COUNT, AVG, etc., on each group.

HAVING: If a HAVING clause is used in conjunction with the GROUP BY clause, it is executed after the GROUP BY clause. It filters the grouped rows based on the specified conditions. It allows you to filter the groups based on aggregate function results.

ORDER BY: The ORDER BY clause is executed after all the previous clauses. It sorts the result set based on one or more columns in ascending (default) or descending order. It allows you to control the order in which the rows are displayed in the output.

LIMIT/OFFSET: If a LIMIT and/or OFFSET clause is specified, it is executed last. It limits the number of rows returned in the result set or skips a specified number of rows